.icon-row-icon {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.icon-row-icon__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-row-icon__icon i {
  font-size: 35px;
}
.icon-row__icon span {
  margin-top: 18px;
}
